{% extends "jokes/jokes_base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
	<hr />
	<div class="joke-text">{{ joke|linebreaks }}</div>
	<hr />
    <form action="" method="post">{% csrf_token %}
        {% if not request.session.gender %}
        <div class="demographic-survey">
        <p><b>This survey is infinite, and you may see the same joke multiple times (although possibly with different questions). Feel free to leave the survey at any point.</b></p>
        <p><b>Since this is your first time filling out this survey, please fill out a little demographic information:</b></p>
            {{ form.gender.errors }} {{ form.gender.label_tag }} {{ form.gender }}
            {{ form.gender.errors }} {{ form.age.label_tag }} {{ form.age }}
        </div>
        {% endif %}
        {% for field in form.visible_fields %}
            {% if field.name in field_list %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor %}
    <input class="button-primary" type="submit" value="Submit" />
    </form>
{% endblock %}