{% extends "jokes/jokes_base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
	<hr />
	<div class="joke-text">{{ joke|linebreaks }}</div>
	<hr />
    <form action="" method="post">{% csrf_token %}
        {% for field in form.visible_fields %}
            {% if field.name in field_list %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor %}
    <input class="button-primary" type="submit" value="Submit" />
    </form>
{% endblock %}